:root {
  --blue: #0039a6;
}

.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  gap: 15px;

  .form-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .input-select {
      display: flex;
      width: 100%;
      select {
        width: 240px;
      }
    }
    .input {
      display: flex;
      flex-direction: column;

      &-select {
        display: flex;
        gap: 10px;
        width: 100%;
        select {
          width: 430px;
        }
      }

      input {
        padding: 5px 5px 0px 5px;
        height: 43px;
        width: 495 px;
        &:focus,
        &:valid {
          outline: none;
          border: 1px solid var(--blue);
        }
        + label {
          position: relative;
          top: -39px;
          left: 10px;
          transition: 0.1s;
        }
        &:focus + label,
        &:valid + label {
          top: -49px;
          left: 7px;
          width: 150px;
          font-size: 11px;
          color: var(--blue);
          background-color: white;
        }
      }
    }
  }
  .table-view {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .form-nav {
    display: flex;
    gap: 20px;
    .underline-roles-two {
      position: relative;
      top: 25px;
      left: -125px;
      width: 40px;
      height: 0px;
      border: 1px solid var(--blue);
    }
    .underline-users {
      position: relative;
      top: 25px;
      left: -136px;
      width: 40px;
      height: 0px;
      border: 1px solid var(--blue);
    }
    p {
      cursor: pointer;
      font-size: 18px;
      &:hover {
        color: var(--blue);
      }
    }

    .underline-roles {
      position: relative;
      top: 25px;
      left: -135px;
      width: 40px;
      height: 0px;
      border: 1px solid var(--blue);
    }
    .underline-users-two {
      position: relative;
      top: 25px;
      left: -63px;
      width: 40px;
      height: 0px;
      border: 1px solid var(--blue);
    }
    .underline-groups {
      position: relative;
      top: 25px;
      left: -76px;
      width: 60px;
      height: 0px;
      border: 1px solid var(--blue);
    }
  }
  .form-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;

    button {
      width: 200px;
      padding: 10px 5px;
      background-color: var(--blue);
      border-radius: 5px;
      border: 1px solid var(--blue);
      cursor: pointer;
      color: white;
      &:hover {
        background-color: #022e81;
      }
    }

    a {
      color: var(--blue);
      font-size: 14px;
    }
  }

  .input-with-btn {
    display: flex;
    width: 100%;
  }
}
