:root {
  --blue: #0039a6;
}
.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  gap: 15px;
}
.form-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  display: flex;
  flex-direction: column;
}
input {
  padding: 5px 5px 0px 5px;
  height: 43px;
}
.input label {
  position: relative;
  top: -39px;
  left: 10px;
  transition: 0.2s;
}
input:focus,
input:valid {
  outline: none;
  border: 1px solid var(--blue);
}
select {
  width: 300px;
}
input:focus + label,
input:valid + label {
  top: -49px;
  left: 7px;
  width: 150px;
  font-size: 11px;
  color: var(--blue);
  background-color: white;
}
.form-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}
.form-buttons button {
  width: 300px;
  padding: 10px 5px;
  background-color: var(--blue);
  border-radius: 5px;
  border: 1px solid var(--blue);
  cursor: pointer;
  color: white;
}
.form-buttons button:hover {
  color: #000;
  background-color: #fff;
}
.form-buttons a {
  color: var(--blue);
  font-size: 14px;
}
